<% if (success.length > 0) { %>
    <div class="alert alert-success"><%= success %></div>
<% } %>

<div class="jumbotron text-center">
	<p><%= note.noteBody %></p>
	<p><%= note.tags %></p>
	<p><%= note.created %></p>
	<p><%= note.updated %></p>
</div>